@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
body{
    margin: 0px;
    background-color: #0d0d0d;
    font-family: Arial;
    text-align: center;
}
.banner {
    background-image: url('kepek/bannerakos.png');
    width: 100%;
    height: 165px;
    background-color: yellow;
}
#felsocim{
    font-family: 'Comforter Brush', cursive;
    color: white;
}
.simage{
    width: 50px;
    margin-left: 450px;
    height: 50px;
}
.container{
    background-image: url('kepek/hatter1.jpg');
    width: 100%;
    height: 1000px;
}
footer{
    position: relative;
    background-color: yellow;
    color: black;
    width: 100%;
    font-size: 18px;
}
footer li{
    list-style-type:none;
}
.content{
    color: white;
}
.feher{
    color: white;
}
.tablazatkep{
    width: 125px;
    height: 100px;
}
#BOTOND td{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
thead{
    border-radius: 20px;
    background-color: black;
    border: 2px solid gray;
}
.tablaxd td{
    border-radius: 20px;
    background-color: black;
    border: 2px solid gray;
}
